<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	<p th:text="'Book ID, ' + ${book.get().bookID} + '!'" />
    <p th:text="'Title, ' + ${book.get().title} + '!'" />
    <p th:text="'Author, ' + ${book.get().author} + '!'" />
    <p th:text="'Description, ' + ${book.get().description} + '!'" />
    <p th:text="'Release Date, ' + ${book.get().releaseDate} + '!'" />
    <p th:text="'Num Of Page, ' + ${book.get().numOfPage} + '!'" />
    <p th:text="'Category, ' + ${book.get().category} + '!'" />
</body>
</html>